<div id="remote" class="page cf">
  <img id="artwork" class="artwork">
  <div class="control-wrapper">
    <div class="ui-container time cf">
      <span id="played-time" class="played-time"></span>
      <input type="range" id="position" min="0" max="100" />
      <span id="duration" class="duration"></span>
    </div>
    <div class="ui-container cf">
      <div id="artist" class="artist"></div>
      <div id="name" class="song-title"></div>
    </div>
    <div class="ui-container cf">
      <a id="previous" class="button control-button previous">&lt;&lt;</a>
      <a id="current-play-state" class="button control-button play-pause">Play</a>
      <a id="next" class="button control-button next">&gt;&gt;</a>
    </div>
  </div>
</div>