<form id="new-playlist-form">
  <label for="name">Create a new playlist: </label>
  <input type="text" name="name" id="name" placeholder="eg. After Party Mix"/>
  <input type="submit" name="Create" />
</form>